@page
@model MyWebApp.Pages.GamesCatalog.IndexModel
@using Microsoft.AspNetCore.Identity
@using MyWebApp.Data.Identity
@inject SignInManager<ApplicationIdentityUser> SignInManager

@{
    ViewData["Title"] = @"Каталог игр";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Каталог игр</h1>

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
    {
        <p>
            <a id="color-link" asp-page="Create">Добавить новую игру</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Games[0].NameOfTheGame)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Games[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Games[0].QuantityAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Games[0].Avalible)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Games)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfTheGame)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Avalible)
                    </td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        <td>
                            <a id="color-link" asp-page="./Edit" asp-route-id="@item.Id">Отредактировать</a> |
                            <a id="color-link" asp-page="./Details" asp-route-id="@item.Id">Детали</a> |
                            <a id="color-link" asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    }

                    @if (User.IsInRole("Client") && item.Avalible)
                    {
                        <td>
                            <form method="post" asp-page-handler="AddToCart">
                                <input type="hidden" name="gameId" value="@item.Id" />
                                <button type="submit">Купить</button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>NOT Logged In</span>
}