@page
@model MyWebApp.Pages.Users.IndexModel
@using Microsoft.AspNetCore.Identity
@using MyWebApp.Data.Identity
@inject SignInManager<ApplicationIdentityUser> SignInManager

@{
    ViewData["Title"] = @"Список пользователей";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Список пользователей</h1>

@if (SignInManager.IsSignedIn(User))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AspUserShow[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AspUserShow[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AspUserShow[0].RoleName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AspUserShow)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        <a id="color-link" asp-page="./Edit" asp-route-id="@item.Id">Отредактировать</a> |
                        <a id="color-link" asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>NOT Logged In</span>
}