@page
@model MyWebApp.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>



<p>
    <a asp-page="Create">Добавить новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.AspUserShow)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@user.UserId">Отредактировать</a> |
                    <a asp-page="./Details" asp-route-id="@user.UserId">Детали</a> |
                    <a asp-page="./Delete" asp-route-id="@user.UserId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>