@page
@model MyWebApp.Pages.Users.IndexModel
@using MyWebApp.Data.Identity

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspUserShow.Any() ? model.AspUserShow.First().UserName : "")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspUserShow.Any() ? model.AspUserShow.First().Email : "")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AspUserShow)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@await Model.OnGetAsync()
